/* Add flex funcionality to the body */
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

/* Add flex functionality to the header as well as some color attributes */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

/* Creates a style class to hide an element */
.hidden {
  visibility: hidden;
}

/* Creates a style class to make an element visible */
.visible {
  visibility: visible;
}

/* Add dynamic styling to the web page */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
  }
}
